Vagrantfile
.vagrant

*.a
*.o
*.lo
*.so
*/.deps-ver
*/.deps/*
*.8
*.5
config.log
*.Plo

*/*/config.log
*/.version
*/version.c

*/check-*
sntp/*

clockstuff/propdelay
ntpd/ntpd
ntpdate/ntpdate
ntpdc/layout.here
ntpdc/nl.c
ntpdc/ntpdc
ntpdc/ntpdc-layout
ntpq/ntpq
scripts/ntpsweep/ntpsweep.1
scripts/calc_tickadj/calc_tickadj.
ntpsnmpd/ntpsnmpd
util/ntp-keygen
util/ntptime
util/tickadj
