Vagrantfile
.vagrant

*.a
*.o
*.lo
*.so
*/.deps-ver

*/*/config.log
*/.version

*/check-*
sntp/*

clockstuff/propdelay
ntpd/ntpd
ntpdate/ntpdate
ntpdc/layout.here
ntpdc/nl.c
ntpdc/ntpdc
ntpdc/ntpdc-layout
ntpq/ntpq
scripts/ntpsweep/ntpsweep.1
util/ntp-keygen
util/ntptime
util/tickadj
